/*-----------------------------------------------------------*/
/* Fonts CSS */
/*-----------------------------------------------------------*/

/* Alle Fonts Lokal eingebunden */

/* -------------------Avant Garde Font START--------------------------*/


@font-face {
  font-family: 'Wotfard';
  src: url('Wotfard-Regular.otf') format('opentype');
  font-weight: 400 900; /* Definiere die unterstützten Gewichtungen */
  font-style: normal;
}

